<h2>Login to Weava</h2>
<p>
Weava uses Persona for authentication which means we don't store your passwords. 
</p>
<p>
	<a href="javascript:void(0)" id="signin" class="persona-button dark large"><span>Login or Register with your Email</span></a>
</p>