<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="pull-left panel-title">Profile</h3>
    <%= link_to 'Edit', edit_user_path(@user), :class => "pull-right" %>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive" src="data:image/png;base64," data-src="holder.js/200x200/auto" alt="Profile image">
        </div>
        <div class="col-md-9">
            <p><strong>Name:</strong> <%= @user.name ? @user.name : 'n/a' %></p>
            <p><strong>Email:</strong> <%= @user.email %></p>
        </div>
    </div>
  </div>
</div>