<h1>Welcome to Weava</h1>
<% if current_user %>
<p>You're logged in as <%= current_user.email %></p>
<% else %>
<p>
    Looks like you're new here, want to see what all the fuss is about?
    <a href="/login">sign up</a>
</p>
<% end %>