
 <h2>Projects [<%= link_to 'New', new_project_path %>]</h1>

  <% if @projects and @projects.length > 0 %>

      <div class="list-group">      
      <% @projects.each do |project| %>

        <a href="<%= project_path(project) %>" class="list-group-item">
          <h4 class="list-group-item-heading"><%= project.name %><i class="icon-chevron-right pull-right"></i><div class="clearfix"></div></h4>
        </a>

        <% end %>
      </div>

  <% else %>
    <i>You don't have any projects yet</i>
  <% end %>
