<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Diff for <%= @project.name %></h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <td>Old Path</td>
          <td>New Path</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <% @diff.each do |diff| %>
          <tr>
            <td><%= diff[:old_path] %></td>
            <td><%= diff[:new_path] %></td>
            <td><%= diff[:status] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>