<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @item[:name] %></h3>
  </div>
  <div class="panel-body">
    <textarea style="display:none" id="content_source"><%= @item[:content] %></textarea>
    <div id="content_view"></div>
  </div>
</div>
<div>
  <%= link_to "Cancel", project_item_path(@project.id, @latest_item_id), :class => 'btn btn-default' %>
</div>
